    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container text-center">
            <span class="text-muted">© 2024 DansReport. All rights reserved.</span>
        </div>
    </footer>
</body>
</html>
